
.container{
	border: 5px solid black;
	}
.clearfix:before, .clearfix:after{
	content: "";
	display: table;
}
.clearfix:after{
	clear: both;
}
.uno{
    height: 100px;
    width: 25%;
    background: yellow;
}
.dos{
    height: 100px;
    width: 25%;
    background: blue;
}
.tres{
    height: 100px;
    width: 25%;
    background: red;
}
.caja{
	float: left;
}
